# Web framework
Flask==3.0.3

# HTTP requests
requests==2.32.3

# Environment variables
python-dotenv==1.0.1

# Scheduling
APScheduler==3.10.4

# RSS Parsing
feedparser==6.0.11

# Article Scraping
newspaper3k==0.2.8
lxml==5.2.2

# Browser Automation
selenium==4.22.0